<div class="p-4" *ngIf="visible">
  <h3>Fecha proceso domicilios</h3>
  <form [formGroup]="deliveryProcessor" (ngSubmit)="OnSubmit()">
    <div class="form-group">
      <label for="datePicker">Seleccionar fecha</label>
      <input
        type="date"
        formControlName="dateProcess"
        id="datePicker"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['dateProcess'].errors }"
      />
      <div
        *ngIf="submitted && f['dateProcess'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="f['dateProcess'].errors['required']">
          La fecha es requerida
        </div>
        <div *ngIf="f['dateProcess'].errors['futureDate']">
          La fecha debe ser menor a la fecha actual ({{
            currentDate | date: "dd/MM/YYYY"
          }}).
        </div>
      </div>
    </div>
    <div class="row justify-content-around">
      <button class="btn btn-outline-danger" [routerLink]="['home']">
        Atras
      </button>
      <button type="submit" [disabled]="loading" class="btn btn-primary">
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Procesar
      </button>
    </div>
  </form>
</div>
