<div class="border p-4">
  <h3>Procesar Domicilios</h3>
  <form [formGroup]="deliveryProcessor" (ngSubmit)="OnSubmit()">
    <div class="form-group">
      <label for="datePicker">Seleccionar fecha</label>
      <input
        type="date"
        formControlName="dateProcess"
        id="datePicker"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['dateProcess'].errors }"
      />
      <div
        *ngIf="submitted && f['dateProcess'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="f['dateProcess'].errors['required']">
          la fecha es requerida
        </div>
      </div>
    </div>
    <div class="row justify-content-around">
      <button type="submit" [disabled]="loading" class="btn btn-primary">
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Procesar
      </button>
      <button class="btn btn-danger" [routerLink]="['home']">Atras</button>
    </div>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
      {{ error }}
    </div>
  </form>
</div>
