<div class="pt-4 pb-1" *ngIf="visible">
  <div class="row">
    <div class="col">
      <button class="btn btn-outline-danger m-1" [routerLink]="['home']">
        Atras
      </button>
    </div>
    <div class="col text-center">
      <button [disabled]="loading" class="btn btn-outline-primary m-1">
        <span
          *ngIf="!loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Reprocesar
      </button>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <span>Fecha: {{ dateSelected | date: "d/MM/y" }}</span>
    </div>
    <div class="col text-center">
      <div>
        <span class="font-weight-bold">Total: $36.000</span>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div *ngFor="let delivery of deliveryList">
    <app-delivery-record [deliveryData]="delivery"></app-delivery-record>
  </div>
</div>
